@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.title {
  composes: responsiveTitle1 from "./typography.module.css";
}

.mainImage {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.mainContent {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.publishedAt {
  composes: small from "./typography.module.css";
  border-bottom: 1px solid var(--color-very-light-gray);
  padding-bottom: 1.25rem;
  color: var(--color-gray);
}
